# Python build artifacts
__pycache__/
*.pyc
build/
dist/
*.egg-info/
*.so
*.pyd
*.whl

howto.md

# Virtual environment
venv/

# Documentation build output
docs/build/

# old tests 
python_tests_old/

# IDE and OS specific files
.vscode/
.idea/
*.DS_Store

# Temporary files from tests/scripts
makeout

# CMake user files (if any)
CMakeUserPresets.json
